* {
  box-sizing: border-box;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

header {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(50, 50, 128);
}

header > div {
  width: 50%;
}

header > div > nav > ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-left: 8px;
}
header > div > nav > ul > li {
  padding: 3px;
}

h1 {
  font-size: 1.4em;
  font-weight: bold;
}
.container-salmon {
  display: flex;
  background-color: darksalmon;
  justify-content: space-between;
  padding: 15px 0;
  align-items: center;
}
/*.imagen-señal {
  width: 10px;
  border-width: 3px;
  border-width: dotted double;
}*/
/* .button {
  padding: 0;
  weight: 20;
  margin: 20;
  background: url(https://www.parkingfacil.com/56-medium_default/entrada-prohibida.jpg);
  background-size: cover;
} */
.container-grey {
  display: flex;
  background-color: darkgrey;
  justify-content: space-between;
  padding: 15px 0;
  align-items: center;
}
.container-azul {
  display: flex;
  background-color: rgb(50, 50, 128);
  justify-content: space-between;
  padding: 15px 0;
  align-items: center;
}
